/* Fonts */

@font-face {
    font-family: Gilroy;
    src: url(./fonts/Gilroy-Black.woff2);
}

@font-face {
    font-family: Gilroy-sbold;
    src: url(./fonts/Gilroy-SemiBold.woff2);
}
  
@font-face {
    font-family: Gilroy-light;
    src: url(./fonts/Gilroy-Light.woff2);
}
  
@font-face {
    font-family: Gilroy-thin;
    src: url(./fonts/Gilroy-Thin.woff2);
}
  
@font-face {
    font-family: Gilroy-med;
    src: url(./fonts/Gilroy-Medium.woff2);
}
  
/* document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
    color: #C56386;
}
 
body, html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

/* BODY */

#main {
    height: 100%;
    width: 100%;
    background-color: #000;
}

/*  nav  */

nav {
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 2vw;
}

nav #left {
    width: fit-content;
    display: flex;
    gap: 2vw;
    justify-content: flex-start;
}

nav #left a{
    font-family: Gilroy-med;
    text-transform: uppercase;
    text-decoration: none;
    color: #202020;
    font-size: 1.5rem;
}

nav #right {
    width: fit-content;
    display: flex;
    gap: 2vw;
}

nav #right a {
    font-family: Gilroy-med;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: #202020;
}

nav #logo {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

nav #logo img {
    height: 5vh;
    background-color: #ffedd7;
    border-radius: 5px;
    padding: 5px;
}

nav a {
    cursor: pointer;
}

/* NAV 2 */

#nav2 {
    position: fixed;
    height: fit-content;
    width: fit-content;
    transform: translate(-50%, 0);
    bottom: 5%;
    left: 50%;
    z-index: 999;
}

#nav2 #button {
    height: 78px;
    width: 210px;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 0;
    left: 50%;
    border-radius: 50px;
    border: 2px solid #dadada;
    background-color: rgb(201, 7, 7);
}

#nav2 i {
    color: rgb(201, 7, 7);
    font-size: 50px;
    padding: 0 1.8px;
    position: absolute;
    transform: translate( -50%, 50%);
    top: 50%;
    left: 20%;
    background-color: #dadada;
    border-radius: 100%;
    rotate: 90deg;
}

#nav2 h1 {
    color: #dadada;
    font-size: 34px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 65%;
    font-family: Gilroy;
}

#nav2 #items {
    border-radius: 50px;
    border: 2px solid #dadada;
    background-color: rgb(201, 7, 7);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 19px 19px;
    opacity: 1;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 290px;
}

#nav2 #items a {
    text-decoration: none;
}

#nav2 #items #item {
    text-align: center;
    font-size: 2rem;
    font-family: Gilroy;
    color: #dadada;
    border-radius: 50px;
    width: 100%;
    padding: 5px 20px;
    cursor: pointer;
}

#nav2 #items #item:hover {
    color: rgb(201, 7, 7);
    background-color: #dadada;
}

/* Page 1 */

#page1 {
    height: fit-content;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15vh 3vw;
    gap: 10vh;
}

#page1 #top {
    padding: 0 7vw;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#page1 #top h1 {
    font-family: Gilroy;
    text-transform: capitalize;
    color: #000;
    font-size: 10rem;

}
#page1 #top p {
    font-family: Gilroy-med;
    color: #000;
    font-size: 1.5rem;
}
 
#page1 #top .bottom {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page1 #top .bottom .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.workbtn {
    border: 1px solid #c5c5c5;
    padding: 30px 42px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.workbtn h5 {
    color: #1C1D20;
    font-family: Gilroy-light;
    font-size: 20px;
    position: relative;
    z-index: 9;
    transition: all ease 0.3s;
}
.workbtn::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.workbtn:hover::after{
    bottom: 0;
    border-radius: 0;
    color: #fff;
}
.workbtn:hover h5{
  color: #fff;
}

#page1 #top .bottom .right {
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}

#page1 #top .bottom .right .bar {
    border: 1px solid #c5c5c5;
    padding: 30px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

#page1 #top .bottom .right .bar::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.3s;
}

#page1 #top .bottom .right .bar:hover::after {
    bottom: 0;
    border-radius: 0;
    color: #fff;
}

#page1 #top .bottom .right i {
    color: #1C1D20;
    font-size: 25px;
    position: relative;
    z-index: 9;
    transition: all ease 0.3s;
}

#page1 #top .bottom .right .bar:hover i{
    color: #fff;
}


#page1 #middle {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

#page1 #middle #item {
    height: fit-content;
    width: fit-content;
    padding: 30px;
    background-color: #EBEBBA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

#page1 #middle #item #image {
    height: 500px;
    width: fit-content;
    background-size: cover;
    background-position: center;
}

#page1 #middle #item #image img {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all ease 0.3s;
}

#page1 #middle #item #det {
    height: fit-content;
    width: 100%;
}

#page1 #middle #item #det h1 {
    font-family: Gilroy-med;
    font-size: 2rem;

}

#page1 #middle #item #det #detBot {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#page1 #middle #item #det h2 {
    font-family: Gilroy-light;
    font-size: 1rem;
}

#page1 #middle #item:hover img {
    scale: 1.02;
}

#page1 .explore {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    position: relative;
}

#page1 .explore i {
    font-size: 1.8rem;
    color: #000;
    transition: all ease 0.2s;
}

#page1 .explore .icon {
    color: transparent;
    opacity: 0;
}

#page1 .explore:hover i {
    color: #fff;
    z-index: 9999;
}

#page1 .explore .icon1 {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 76.7%;
}

#page1 .explore .icon2 {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 110%;
    left: 56.7%;
}

#page1 .explore:hover .icon1 {
    top: -10%;
    left: 96.7%;
}

#page1 .explore:hover .icon2 {
    top: 50%;
    left: 76.7%;
}

#page1 #bottom {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.7vw;
}

#page1 #bottom #item {
    height: 50vh;
    width: 49%;
    position: relative;
    border-radius: 20px;
    color: #fff;
}

#page1 #bottom .item3 #top #right {
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 1.5vw;
    flex-direction: row;  
}

#page1 #bottom .item3 #top button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page1 #bottom .item3 #top #right h2 {
    font-family: Gilroy-light;
    text-transform: capitalize;
    font-size: 1.1rem;
}

#page1 #bottom #item h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    font-family: Gilroy;
    text-transform: capitalize;
    font-size: 7rem;
}

#page1 #bottom #item #top {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    position: absolute;
    top: 0;
}

#page1 #bottom #item #top h2 {
    font-family: Gilroy-light;
    text-transform: capitalize;
    font-size: 1.4rem;
}

#page1 #bottom #item #top button {
    height: fit-content;
    width: 10vw;
    font-family: Gilroy-light;
    font-size: 1.4rem;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

#page1 #bottom #item #bot {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    position: absolute;
    bottom: 0;
}

#page1 #bottom #item #bot h2 {
    font-family: Gilroy-light;
    text-transform: capitalize;
    font-size: 1.1rem;
}
#page1 #bottom #item #bot .fst {
    margin-bottom: 1.5vh;
}

#page1 #bottom #item #bot #right {
    align-self: flex-end;
}

#page1 #bottom .item1 #bg {
    background: #dc5635;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

#page1 #bottom .item2 #bg {
    background: #aa5baa;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

#page1 #bottom .item3 #bg {
    background: #5520b1;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

#page1 #bottom #item #bg {
    transition: all ease 0.3s;

}

#page1 #bottom #item:hover #bg {
    scale: 1.04;
}


/* PAge 2 */

#page2 {
    height: fit-content;
    width: 100%;
    padding: 0 3vw 15vh 3vw;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page2 #items {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#page2 #item {
    height: fit-content;
    width: fit-content;
    margin-bottom: 15vh;
}

#page2 #item #image {
    height: 65vh;
    width: 46.5vw;
    background-position: center;
    background-size: cover;
    position: relative;
}

#page2 #item #image #bg {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    transition: all ease 0.3s;
}

#page2 #item #image button {
    height: fit-content;
    width: 10vw;
    font-family: Gilroy-light;
    font-size: 1.4rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}

#page2 #item #text {
    padding: 2vh 0.5vw;
}

#page2 #item #text h1 {
    font-family: Gilroy-med;
    text-transform: capitalize;
    font-size: 6rem;
    color: #000;
}
#page2 #item #text h3 {
    font-family: Gilroy-med;
    text-transform: capitalize;
    font-size: 0.9rem;
    color: #747474;
    margin: 1vh 0 0 0;
}
#page2 #item #text h2 {
    font-family: Gilroy-med;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #000;
}

#page2 #item:hover #bg {
    scale: 1.03;
}

#page2 .explore h5 {
    font-size: 1.5rem;
}



/* Bottom */
#footer {
    height: 60vh;
    width: 100%;
    background-color: #202020;
    color: #dadada;
    padding: 8vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer #top {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer #top #left {
    height: fit-content;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer #top #left #one {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

#footer #top #left #one .cmp {
    font-size: 1rem;
    font-family: Gilroy-light;
}
#footer #top #left #one #item {
    text-transform: uppercase;
    font-family: Gilroy;
    font-size: 1.5rem;
}

#footer #top #left #two {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

#footer #top #left #two #item {
    text-transform: uppercase;
    font-family: Gilroy-med;
    font-size: 1.2rem;
}

#footer #top #right {
    height: fit-content;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2vh;
}

#footer #top #right #item {
    text-transform: uppercase;
    font-family: Gilroy-med;
    font-size: 1.2rem;
}

#footer #bottom {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer #bottom #time {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#footer #bottom #time h1 {
    font-family: Gilroy;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}

#footer #bottom #time a {
    font-family: Gilroy;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    color: #9e9e9e;
}

#footer #bottom #sm {
    display: flex;
    gap: 2vw;
}

#footer #bottom #sm i {
    font-size: 1.6rem;
    color: #dadada;
}

#footer .item {
    transition: all ease-in-out 0.1s;
}
#footer #item:hover {
    scale: 1.03;
}


/* Responsive Design */

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    #main {
        overflow-x: hidden;
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
    }
    nav #left a {
        font-size: 1.1rem;
        border-bottom: 2px solid #dadada;
    }
    nav #right {
        padding-right: 3vw;
    }
    nav .hide {
        display: none;
    }
    nav #right a {
        font-size: 1.1rem;
        border-bottom: 2px solid #dadada;
    }
    nav #logo img {
        border-radius: 5px;
        padding: 3px 5px;
    }
    #page1 h1 {
        font-size: 7rem;
    }
    #page1 h3 {
        font-size: 2rem;
    }
    #page1 p {
        font-size: 1.3rem;
        text-align: center;
    }
    #nav2 {
        bottom: 5%;
    }
    #nav2 h1 {
        font-size: 1.8rem;
    }
    #nav2 i {
        font-size: 2rem;
    }
    #nav2 #button {
        height: 63px;
        width: 170px;
    }
    #nav2 #items #item {
        font-size: 1.5rem;
        padding: 3px 10px;
    }
        
    /* Page 1 */

    #page1 {
        align-items: center;
        padding: 15vh 5vw 5vh 5vw;
        gap: 5vh;
        justify-content: center;
        position: relative;
    }
    #page1 #top {
        padding: 0;
    }
    #page1 #top h1 {
        font-size: 7rem;
    }
    #page1 #top p {
        text-align: start;
    }
    #page1 #top .bottom {
        margin-top: 4vh;
        gap: 10px;
    }
    #page1 #top .bottom .left {
        gap: 5px;
    }
    .workbtn {
        padding: 10px;
    }
    .workbtn h5 {
        font-size: 17px;
    }
    #page1 #top .bottom .right {
        gap: 5px;
    }
    #page1 #top .bottom .right .bar {
        padding: 10px;
    }
    #page1 #top .bottom .right i {
        font-size: 20px;
    }
    #page1 #middle {
        gap: 2vh;
        justify-content: space-evenly;
    }
    
    #page1 #middle #item #image {
        height: fit-content;
        width: fit-content;
    }
    
    #page1 #middle #item #image img {
        width: 100%;
    }


    #page1 #middle #item #det h1 {
        font-size: 1.2rem;

    }
    #page1 #middle #item #det #detBot {
        margin-top: 5px;
        padding-top: 5px;
    }
    #page1 #middle #item #det h2 {
        font-size: 0.7rem;
    }
    #page1 .explore {
        display: flex;
        align-items: center;
    }
    #page1 .explore i {
        font-size: 1.4rem;
    }
    #page1 .explore .icon1 {
        top: 50%;
        left: 85.7%;
    }
    #page1 .explore .icon2 {
        top: 120%;
        left: 71.7%;
    }
    #page1 .explore:hover .icon1 {
        top: -10%;
        left: 106.7%;
    }
    #page1 .explore:hover .icon2 {
        top: 50%;
        left: 85.7%;
    }
    #page1 #bottom {
        gap: 1.7vw;
    }
    #page1 #bottom #item {
        height: 30vh;
    }
    #page1 #bottom .item3 #top #right {
        gap: 1.5vw;
    }
    #page1 #bottom .item3 #top #right h2 {
        font-size: 1.1rem;
    }
    #page1 #bottom #item h1 {
        font-size: 3rem;
    }
    #page1 #bottom #item #top {
        padding: 15px 15px;
    }
    #page1 #bottom #item #top h2 {
        font-size: 1.2rem;
    }
    #page1 #bottom #item #top button {
        width: 15vw;
        font-size: 1.2rem;
    }
    #page1 #bottom #item #bot {
        padding: 15px 15px;
        position: absolute;
    }
    #page1 #bottom #item #bot h2 {
        font-size: 1rem;
    }
    #page1 #bottom #item #bot #right {
        align-self: flex-end;
    }
    #page1 #bottom #item #bot #right h2 {
        text-align: end;
    }
    #page1 #bottom .item3 #top #right {
        flex-direction: column;
    }
    /* PAge 2 */
    #page2 {
        height: fit-content;
        width: 100%;
        padding: 0 3vw 10vh 3vw;
        flex-direction: column;
        align-items: center;
    }
    #page2 #items {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh;
    }
    #page2 #item {
        height: 50%;
        width: 100%;
        margin-bottom: 0;
    }
    #page2 #item #image {
        width: 100%;
        height: 60%;
    }
    #page2 #item #image #bg {
        height: 100%;
        width: 100%;
    }
    #page2 #item #image button {
        width: 20vw;
        font-size: 1.1rem;
        padding: 5px;
    }
    #page2 #item #text {
        padding: 1vh 0.5vw;
    }
    #page2 #item #text h1 {
        font-size: 2.5rem;
    }
    /* Bottom */
    #footer {
        height: 90vh;
        padding: 8vh 5vw 20vh 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #footer #top {
        height: fit-content;
        width: 100%;
        flex-direction: column;
        gap: 5vh;
    }
    #footer #top #left {
        width: 100%;
    }
    #footer #top #left #two {
        align-items: flex-end;
        gap: 1.78vh;
    }
    #footer #top #left #two #item {
        color: #cfcfcf;
        text-align: end;
    }
    #footer #top #right {
        width: 100%;
    }
    #footer #bottom{
        height: fit-content;
    }
    #footer #bottom #time {
        justify-content: space-between;
        gap: 2vw;
        align-self: flex-end;
    }
    #footer #bottom #time h1 {
        font-family: Gilroy;
        text-transform: uppercase;
        font-size: 2rem;
        color: #fff;
    }
    #footer #bottom #sm {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

}