* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

/* BODY */

#main {
    background-color: rgb(40, 40, 40);
    height: 100%;
    width: 100%;
}

nav {
    height: 98vh;
    width: 5vw;
    background-color: rgba(183, 219, 255, 0.648);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    right: 0.7%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
}

#btn {
    background-color: #efedd4;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    /* padding: 10px; */
    position: relative;
    cursor: pointer;
}

#btn h2 {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%, -50%);
    user-select: none;
}

.m1 {
    position: absolute;
    top: 45%;
    left: 32%;
}

.m2 {
    position: absolute;
    rotate: -45deg;
    top: 31%;
    left: 62%;
}

.m3 {
    position: absolute;
    rotate: 45deg;
    top: 39%;
    right: 53%;
}

.m4 {
    position: absolute;
    top: 45%;
    right: 18%;
}